/* app.css */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.App-logo {
  height: 20vmin; /* Csökkentettük a logó méretét még inkább */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2A2A2A; /* Sötétebb háttér a HP hangulathoz */
  min-height: 40vh; /* Header magasságának csökkentése */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
  font-family: 'Harry P', sans-serif; /* Harry Potter betűtípus */
  padding: 20px;
  border-bottom: 4px solid #F4C542; /* HP-sárga kiemelés */
}

.App-header h1 {
  font-size: 2.5rem; /* Kisebb cím */
  color: #F4C542; /* Arany HP szín */
}

.App-link {
  color: #F4C542; /* HP színekhez illő kékes-sárga link */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.App-link:hover {
  color: #e1a23d; /* Kicsit sötétebb arany szín a hover-re */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
